@font-face {
  font-family: 'Blambot';
  src: url(../public/fonts/v_BlambotCasual_v1.0.ttf);
}

body {
  font-family: 'Blambot';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}