.body {
    height: 100%;
    margin: 0;
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    background: radial-gradient(79.69% 102.24% at 100% 100.11%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), radial-gradient(89.7% 115.09% at 3.43% 2.75%, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0)), #764ABC;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.header {
    display: flex;
    margin: 20px auto;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
}

#witchhat {
    position: relative;
    width: 60px;
    transition: transform 0.3s ease;
    transform: translateY(0px);
}

#witchhat:hover {
    transform: translateY(-10px);
}

.list {
    display: flex;
}

.list-item {
    padding-right: 40px;
    list-style-type: none;
}

.list a {
    text-decoration: none;
    color: #000;
}

h1 {
    margin-bottom: 30px;
    text-align: center;
    font-size: 35px;
}

#gallery {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.gallery-item {
    width: 300px;
    max-height: 200px;    
    margin-right: 10px;
    margin-bottom: 50px;    
    object-fit: cover;   
    border-radius: 10px;
}

.itempic {
    position: relative;
}

.itempic .comment {
    position: absolute;
    top: 70%;
    left: 50%;
    z-index: 1; 
    width: 300px;       
    margin-left: -155px;
    padding: 10px;    
    font-size: 20px;    
    background-color: beige;
    border-radius: 5px;
    visibility: hidden;
}

.itempic:hover .comment {
    visibility: visible;
}

.comment p {
    margin: 0;
}

footer {
    text-align: center;
}